<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Withdraw Funds</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="withdrawal" (ngSubmit)="onSubmit()">
            <div *ngIf="!otpSuccess">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card text-white bg-primary cardpinkbalance">
                    <div class="card-body">
                      <div class="text-value">{{CustomerInfoModel.AvailableBalance}}$</div>
                      <div class="text-label">Available Balance</div>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-4">
                  <div class="card text-white bg-primary cardpinkbalance">
                    <div class="card-body">
                      <div class="text-value">{{CustomerInfoModel.BetEarning}}$</div>
                      <div class="text-label">Investment Earning</div>
                    </div>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Enter Amount:</label>
                    <input type="number" (change)="CalculateFees();" formControlName="Amount" class="form-control" placeholder="Enter amount"  [ngClass]="{ 'is-invalid': submitted && f.Amount.errors }" />
                    <div *ngIf="submitted && f.Amount.errors" class="invalid-feedback">
                      <div *ngIf="f.Amount.errors.required">Amount is required</div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <div class="form-group">
                    <label for="ccmonth">Select Payment Mode</label>
                    <select formControlName="ProcessorId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ProcessorId.errors }">
                      <option value="">Select</option>
                      <option *ngFor="let processor of PaymentProcessor" [ngValue]="processor.Value">{{processor.Text}}</option>
                    </select>            
                    <div *ngIf="submitted && f.ProcessorId.errors" class="invalid-feedback">
                      <div *ngIf="f.ProcessorId.errors.required">Select Payment Mode</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <div class="form-group">
                    <label for="ccmonth">Select Withdrawal Mode</label>
                    <select formControlName="WithdrawalTypeId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.WithdrawalTypeId.errors }">
                      <option value="">Select</option>
                      <option value="1">Binary Income Withdrawal</option>
                      <option value="2">Investment Income Withdrawal</option>
                    </select>            
                    <div *ngIf="submitted && f.WithdrawalTypeId.errors" class="invalid-feedback">
                      <div *ngIf="f.WithdrawalTypeId.errors.required">Select Withdrawal Type</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="name">Withdrawal Fees : {{CurrencyCode}} {{WithdrawalFees}}</label><br/>
                  <label for="name"> You will receive : {{CurrencyCode}} {{FinalAmount}}</label><br/>
                </div>
              </div>
          </div>
          <div class="row" *ngIf="otpSuccess">
            <h3><p class="text-muted" *ngIf="otpSuccess">Do Not Refresh This Page</p></h3><br>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="name">Enter OTP :</label>
                <input type="number" (change)="CalculateFees();" formControlName="WithdrawalOTP" class="form-control" placeholder="Enter OTP"  [ngClass]="{ 'is-invalid': submitted && f.WithdrawalOTP.errors }" />
                <div *ngIf="submitted && f.WithdrawalOTP.errors" class="invalid-feedback">
                  <div *ngIf="f.WithdrawalOTP.errors.required">OTP is required</div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button type="save" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Request Withdrawal</button>
            <button type="cancel" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
          </div>
        </form>
        </div>
      </div>
    </div><!--/.col-->
   </div>
</div>




